*
!.gitignore
!culogo.jpg
!carousel1.jpg
!carousel2.jpg
!carousel3.jpg
!carousel4.jpg
!1773833436_9-5-studymate-academic-backpack-for-school-and-college-with-original-imah3yhgaf5ckrz8.webp
!1773881773_s-l1200.jpg
!1774253752_university_hoodie.jpg
!1774254945_$_57.jpg
!1774267629_faye.jpg
!1774268779_Untitled design (5).png
!1774338723_Untitled design (6).png
!1774339357_Untitled design (6).png
